{% extends 'base.html' %}
{% block content %}
    <h1>Activities Available:</h1>
    <ul>
        <li>Trail walk: Those looking for a nice trail will be right at home on our local 10km Hiking Trail</li>
        <li>Frisbee Golf: Accompanying video below, we have a huge outdoor frisbee golf course</li>
        <li>Golf: For those looking to relax, this is the activity for you!</li>
        <li>Bike Rides: Our nearby mountain bike trails provide some extra exhilaration</li>
    </ul>
    <!-- This div will hold the iframe embedded youtube video -->
    <div class = centered_div>
        <iframe width="956" height="538" src="https://www.youtube.com/embed/T7Buk1Hn8jM"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
{% endblock %}