{% extends 'base.html' %}
{% block content %}
<!-- Welcome paragraph with an image below -->
    <h1>Programing Training Conference</h1>
    <p>
        Welcome to the Programming Training Conference! This Conference is for programmers from all walks of life.
        From industry professionals to brush up, to those new to coding looking to get their feet wet. Our team of
        programming experts have worked extensively to create a program, pun intended, that will boost your coding
        skills to the next level. Throughout the workshop, you will cover the basics of Java, Python, and Prolog, as
        well
        as diving into some fun projects such as building the Snake Game in Python! We will here from a number of
        keynote speakers from within the tech industry. On top of all this coding, food! We will be providing a wide
        range of meal options (you can find those in the meals tab above) for all of our guests. Are you ready to
        get coding?...
        <br/>
        Our conference will be taking place on July 17, 2021!
        <br/>
        <img src="/static/images/homepage_image.png" alt="Photo from last years conference Q&A" class="align-center"/>
    </p>
{% endblock %}