<!DOCTYPE html>
<!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Eight name tags per page --><html lang="en"><head>
    <meta charset="utf-8"/>
    <meta content="Name Tags, Assignment 7, CS336" name="keywords"/>
    <meta content="Displays eight name tags per page" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>
    <title>Name Tag Eight</title>
    <link href="{{url_for('static', filename='css/nametags8.css')}}" type="text/css" rel="stylesheet"/>
</head>
<body class="bodyForNameTags">

<main>
<div class="horizontalRowEight">
    <div class="nameTagEightTopLeft">
        <span class="nameTagFirstNameEight">Jill</span><br/>
        <span class="lastName">Jackson</span><br/>
        <span class="nameTagPositionEight">Web Developer</span><br/>
        <span class="company">Regis University</span><br/>
        <span class="city">Denver</span><br/>
        <span class="state">CO</span><br/>
    </div>
    <div class="nameTagEightTopRight">
        <span class="nameTagFirstNameEight">John</span><br/>
        <span class="lastName">Smith</span><br/>
        <span class="nameTagPositionEight">IT Manager</span><br/>
        <span class="company">Really Big Company</span><br/>
        <span class="city">Denver</span><br/>
        <span class="state">CO</span><br/>
    </div>
</div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Lucy</span><br/>
            <span class="lastName">Robertson</span><br/>
            <span class="nameTagPositionEight">Senior Developer</span><br/>
            <span class="company">Walmart</span><br/>
            <span class="city">Bentonville</span><br/>
            <span class="state">AR</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Benjamin</span><br/>
            <span class="lastName">Reyes</span><br/>
            <span class="nameTagPositionEight">Quality Control Lead</span><br/>
            <span class="company">Quality Is Us!</span><br/>
            <span class="city">Austin</span><br/>
            <span class="state">TX</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Ada</span><br/>
            <span class="lastName">Lovelace</span><br/>
            <span class="nameTagPositionEight">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Bill</span><br/>
            <span class="lastName">Gates</span><br/>
            <span class="nameTagPositionEight">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="city">Redmond</span><br/>
            <span class="state">WA</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightBottomLeft">
            <span class="nameTagFirstNameEight">Corrinne</span><br/>
            <span class="lastName">Yu</span><br/>
            <span class="nameTagPositionEight">Game Programmer</span><br/>
            <span class="company">Naughty Dog</span><br/>
            <span class="city">Santa Monica</span><br/>
            <span class="state">CA</span><br/>
        </div>
        <div class="nameTagEightBottomRight">
            <span class="nameTagFirstNameEight">Donald</span><br/>
            <span class="lastName">Knuth</span><br/>
            <span class="nameTagPositionEight">Professor</span><br/>
            <span class="company">Stanford University</span><br/>
            <span class="city">Standford</span><br/>
            <span class="state">CA</span><br/>
        </div>
    </div>



</main>







    <meta charset="utf-8"/>
    <meta content="Name Tags, Assignment 7, CS336" name="keywords"/>
    <meta content="Displays eight name tags per page" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

   <link href="{{url_for('static', filename='css/nametags8.css')}}" type="text/css" rel="stylesheet"/>


<main>
<div class="horizontalRowEight">
    <div class="nameTagEightTopLeft">
        <span class="nameTagFirstNameEight">Audrey</span><br/>
        <span class="lastName">Tang</span><br/>
        <span class="nameTagPositionEight">Software Programmer</span><br/>
        <span class="company">Pugs Project</span><br/>
        <span class="city">San Jose</span><br/>
        <span class="state">CA</span><br/>
    </div>
    <div class="nameTagEightTopRight">
        <span class="nameTagFirstNameEight">Jill2</span><br/>
        <span class="lastName">Jackson</span><br/>
        <span class="nameTagPositionEight">Web Developer</span><br/>
        <span class="company">Regis University</span><br/>
        <span class="city">Denver</span><br/>
        <span class="state">CO</span><br/>
    </div>
</div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">John2</span><br/>
            <span class="lastName">Smith</span><br/>
            <span class="nameTagPositionEight">IT Manager</span><br/>
            <span class="company">Really Big Company</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Lucy2</span><br/>
            <span class="lastName">Robertson</span><br/>
            <span class="nameTagPositionEight">Senior Developer</span><br/>
            <span class="company">Walmart</span><br/>
            <span class="city">Bentonville</span><br/>
            <span class="state">AR</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Benjamin2</span><br/>
            <span class="lastName">Reyes</span><br/>
            <span class="nameTagPositionEight">Quality Control Lead</span><br/>
            <span class="company">Quality Is Us!</span><br/>
            <span class="city">Austin</span><br/>
            <span class="state">TX</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Ada2</span><br/>
            <span class="lastName">Lovelace</span><br/>
            <span class="nameTagPositionEight">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightBottomLeft">
            <span class="nameTagFirstNameEight">Bill2</span><br/>
            <span class="lastName">Gates</span><br/>
            <span class="nameTagPositionEight">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="city">Redmond</span><br/>
            <span class="state">WA</span><br/>
        </div>
        <div class="nameTagEightBottomRight">
            <span class="nameTagFirstNameEight">Corrinne2</span><br/>
            <span class="lastName">Yu</span><br/>
            <span class="nameTagPositionEight">Game Programmer</span><br/>
            <span class="company">Naughty Dog</span><br/>
            <span class="city">Santa Monica</span><br/>
            <span class="state">CA</span><br/>
        </div>
    </div>



</main>







    <meta charset="utf-8"/>
    <meta content="Name Tags, Assignment 7, CS336" name="keywords"/>
    <meta content="Displays eight name tags per page" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

    <link href="{{url_for('static', filename='css/nametags8.css')}}" type="text/css" rel="stylesheet"/>



<main>
<div class="horizontalRowEight">
    <div class="nameTagEightTopLeft">
        <span class="nameTagFirstNameEight">Donald2</span><br/>
        <span class="lastName">Knuth</span><br/>
        <span class="nameTagPositionEight">Professor</span><br/>
        <span class="company">Stanford University</span><br/>
        <span class="city">Standford</span><br/>
        <span class="state">CA</span><br/>
    </div>
    <div class="nameTagEightTopRight">
        <span class="nameTagFirstNameEight">Audrey2</span><br/>
        <span class="lastName">Tang</span><br/>
        <span class="nameTagPositionEight">Software Programmer</span><br/>
        <span class="company">Pugs Project</span><br/>
        <span class="city">San Jose</span><br/>
        <span class="state">CA</span><br/>
    </div>
</div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Jill3</span><br/>
            <span class="lastName">Jackson</span><br/>
            <span class="nameTagPositionEight">Web Developer</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">John3</span><br/>
            <span class="lastName">Smith</span><br/>
            <span class="nameTagPositionEight">IT Manager</span><br/>
            <span class="company">Really Big Company</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Lucy3</span><br/>
            <span class="lastName">Robertson</span><br/>
            <span class="nameTagPositionEight">Senior Developer</span><br/>
            <span class="company">Walmart</span><br/>
            <span class="city">Bentonville</span><br/>
            <span class="state">AR</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Benjamin3</span><br/>
            <span class="lastName">Reyes</span><br/>
            <span class="nameTagPositionEight">Quality Control Lead</span><br/>
            <span class="company">Quality Is Us!</span><br/>
            <span class="city">Austin</span><br/>
            <span class="state">TX</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightBottomLeft">
            <span class="nameTagFirstNameEight">Ada3</span><br/>
            <span class="lastName">Lovelace</span><br/>
            <span class="nameTagPositionEight">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
        <div class="nameTagEightBottomRight">
            <span class="nameTagFirstNameEight">Bill3</span><br/>
            <span class="lastName">Gates</span><br/>
            <span class="nameTagPositionEight">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="city">Redmond</span><br/>
            <span class="state">WA</span><br/>
        </div>
    </div>



</main>







    <meta charset="utf-8"/>
    <meta content="Name Tags, Assignment 7, CS336" name="keywords"/>
    <meta content="Displays eight name tags per page" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

    <link href="{{url_for('static', filename='css/nametags8.css')}}" type="text/css" rel="stylesheet"/>



<main>
<div class="horizontalRowEight">
    <div class="nameTagEightTopLeft">
        <span class="nameTagFirstNameEight">Corrinne3</span><br/>
        <span class="lastName">Yu</span><br/>
        <span class="nameTagPositionEight">Game Programmer</span><br/>
        <span class="company">Naughty Dog</span><br/>
        <span class="city">Santa Monica</span><br/>
        <span class="state">CA</span><br/>
    </div>
    <div class="nameTagEightTopRight">
        <span class="nameTagFirstNameEight">Donald3</span><br/>
        <span class="lastName">Knuth</span><br/>
        <span class="nameTagPositionEight">Professor</span><br/>
        <span class="company">Stanford University</span><br/>
        <span class="city">Standford</span><br/>
        <span class="state">CA</span><br/>
    </div>
</div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Audrey3</span><br/>
            <span class="lastName">Tang</span><br/>
            <span class="nameTagPositionEight">Software Programmer</span><br/>
            <span class="company">Pugs Project</span><br/>
            <span class="city">San Jose</span><br/>
            <span class="state">CA</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Jill4</span><br/>
            <span class="lastName">Jackson</span><br/>
            <span class="nameTagPositionEight">Web Developer</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">John4</span><br/>
            <span class="lastName">Smith</span><br/>
            <span class="nameTagPositionEight">IT Manager</span><br/>
            <span class="company">Really Big Company</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Lucy4</span><br/>
            <span class="lastName">Robertson</span><br/>
            <span class="nameTagPositionEight">Senior Developer</span><br/>
            <span class="company">Walmart</span><br/>
            <span class="city">Bentonville</span><br/>
            <span class="state">AR</span><br/>
        </div>
    </div>

    <div class="horizontalRowEight">
        <div class="nameTagEightBottomLeft">
            <span class="nameTagFirstNameEight">Benjamin4</span><br/>
            <span class="lastName">Reyes</span><br/>
            <span class="nameTagPositionEight">Quality Control Lead</span><br/>
            <span class="company">Quality Is Us!</span><br/>
            <span class="city">Austin</span><br/>
            <span class="state">TX</span><br/>
        </div>
        <div class="nameTagEightBottomRight">
            <span class="nameTagFirstNameEight">Ada4</span><br/>
            <span class="lastName">Lovelace</span><br/>
            <span class="nameTagPositionEight">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="city">Denver</span><br/>
            <span class="state">CO</span><br/>
        </div>
    </div>



</main>







    <meta charset="utf-8"/>
    <meta content="Name Tags, Assignment 7, CS336" name="keywords"/>
    <meta content="Displays eight name tags per page" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

   <link href="{{url_for('static', filename='css/nametags8.css')}}" type="text/css" rel="stylesheet"/>



<main>
<div class="horizontalRowEight">
    <div class="nameTagEightTopLeft">
        <span class="nameTagFirstNameEight">Bill4</span><br/>
        <span class="lastName">Gates</span><br/>
        <span class="nameTagPositionEight">Computer Programmer</span><br/>
        <span class="company">Microsoft</span><br/>
        <span class="city">Redmond</span><br/>
        <span class="state">WA</span><br/>
    </div>
    <div class="nameTagEightTopRight">
        <span class="nameTagFirstNameEight">Corrinne4</span><br/>
        <span class="lastName">Yu</span><br/>
        <span class="nameTagPositionEight">Game Programmer</span><br/>
        <span class="company">Naughty Dog</span><br/>
        <span class="city">Santa Monica</span><br/>
        <span class="state">CA</span><br/>
    </div>
</div>

    <div class="horizontalRowEight">
        <div class="nameTagEightLeft">
            <span class="nameTagFirstNameEight">Donald4</span><br/>
            <span class="lastName">Knuth</span><br/>
            <span class="nameTagPositionEight">Professor</span><br/>
            <span class="company">Stanford University</span><br/>
            <span class="city">Standford</span><br/>
            <span class="state">CA</span><br/>
        </div>
        <div class="nameTagEightRight">
            <span class="nameTagFirstNameEight">Audrey4</span><br/>
            <span class="lastName">Tang</span><br/>
            <span class="nameTagPositionEight">Software Programmer</span><br/>
            <span class="company">Pugs Project</span><br/>
            <span class="city">San Jose</span><br/>
            <span class="state">CA</span><br/>
        </div>
    </div>







</main>



</body></html><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Eight name tags per page --><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Eight name tags per page --><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Eight name tags per page --><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Eight name tags per page -->