<!DOCTYPE html>
<!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Displays ten name tags per page --><html lang="en"><head>
    <meta charset="utf-8"/>
    <meta content="Template, Assignment 4, CS336" name="keywords"/>
    <meta content="Displays ten name tags per pge" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>
    <title>Name Tag Ten</title>
    <link href="{{url_for('static', filename='css/nametags10.css')}}" type="text/css" rel="stylesheet"/>
</head>
<body class="bodyForNameTagsTen">
<main>
<div class="horizontalRowTen">
    <div class="nameTagTenTopLeft">
        <span class="nameTagFullNameTen">Jill Jackson</span><br/>
        <span class="nameTagPositionTen">Web Developer</span><br/>
        <span class="company">Regis University</span><br/>
        <span class="location">Denver, CO</span>
    </div>
    <div class="nameTagTenTopRight">
        <span class="nameTagFullNameTen">John Smith</span><br/>
        <span class="nameTagPositionTen">IT Manager</span><br/>
        <span class="company">Really Big Company</span><br/>
        <span class="location">Denver, CO</span>
    </div>
</div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Lucy Robertson</span><br/>
            <span class="nameTagPositionTen">Senior Developer</span><br/>
            <span class="company">Walmart</span><br/>
            <span class="location">Bentonville, AR</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Benjamin Reyes</span><br/>
            <span class="nameTagPositionTen">Quality Control Lead</span><br/>
            <span class="company">Quality Is Us!</span><br/>
            <span class="location">Austin, TX</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Ada Lovelace</span><br/>
            <span class="nameTagPositionTen">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="location">Denver, CO</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Bill Gates</span><br/>
            <span class="nameTagPositionTen">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="location">Redmond, WA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Corrinne Yu</span><br/>
            <span class="nameTagPositionTen">Game Programmer</span><br/>
            <span class="company">Naughty Dog</span><br/>
            <span class="location">Santa Monica, CA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Donald Knuth</span><br/>
            <span class="nameTagPositionTen">Professor</span><br/>
            <span class="company">Stanford University</span><br/>
            <span class="location">Standford, CA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenBottomLeft">
            <span class="nameTagFullNameTen">Audrey Tang</span><br/>
            <span class="nameTagPositionTen">Software Programmer</span><br/>
            <span class="company">Pugs Project</span><br/>
            <span class="location">San Jose, CA</span>
        </div>
        <div class="nameTagTenBottomRight">
            <span class="nameTagFullNameTen">Jill2 Jackson</span><br/>
            <span class="nameTagPositionTen">Web Developer</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="location">Denver, CO</span>
        </div>
    </div>
</main>






    <meta charset="utf-8"/>
    <meta content="Template, Assignment 4, CS336" name="keywords"/>
    <meta content="Displays ten name tags per pge" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

    <link href="{{url_for('static', filename='css/nametags10.css')}}" type="text/css" rel="stylesheet"/>


<main>
<div class="horizontalRowTen">
    <div class="nameTagTenTopLeft">
        <span class="nameTagFullNameTen">John2 Smith</span><br/>
        <span class="nameTagPositionTen">IT Manager</span><br/>
        <span class="company">Really Big Company</span><br/>
        <span class="location">Denver, CO</span>
    </div>
    <div class="nameTagTenTopRight">
        <span class="nameTagFullNameTen">Lucy2 Robertson</span><br/>
        <span class="nameTagPositionTen">Senior Developer</span><br/>
        <span class="company">Walmart</span><br/>
        <span class="location">Bentonville, AR</span>
    </div>
</div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Benjamin2 Reyes</span><br/>
            <span class="nameTagPositionTen">Quality Control Lead</span><br/>
            <span class="company">Quality Is Us!</span><br/>
            <span class="location">Austin, TX</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Ada2 Lovelace</span><br/>
            <span class="nameTagPositionTen">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="location">Denver, CO</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Bill2 Gates</span><br/>
            <span class="nameTagPositionTen">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="location">Redmond, WA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Corrinne2 Yu</span><br/>
            <span class="nameTagPositionTen">Game Programmer</span><br/>
            <span class="company">Naughty Dog</span><br/>
            <span class="location">Santa Monica, CA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Donald2 Knuth</span><br/>
            <span class="nameTagPositionTen">Professor</span><br/>
            <span class="company">Stanford University</span><br/>
            <span class="location">Standford, CA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Audrey2 Tang</span><br/>
            <span class="nameTagPositionTen">Software Programmer</span><br/>
            <span class="company">Pugs Project</span><br/>
            <span class="location">San Jose, CA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenBottomLeft">
            <span class="nameTagFullNameTen">Jill3 Jackson</span><br/>
            <span class="nameTagPositionTen">Web Developer</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="location">Denver, CO</span>
        </div>
        <div class="nameTagTenBottomRight">
            <span class="nameTagFullNameTen">John3 Smith</span><br/>
            <span class="nameTagPositionTen">IT Manager</span><br/>
            <span class="company">Really Big Company</span><br/>
            <span class="location">Denver, CO</span>
        </div>
    </div>
</main>






    <meta charset="utf-8"/>
    <meta content="Template, Assignment 4, CS336" name="keywords"/>
    <meta content="Displays ten name tags per pge" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

   <link href="{{url_for('static', filename='css/nametags10.css')}}" type="text/css" rel="stylesheet"/>


<main>
<div class="horizontalRowTen">
    <div class="nameTagTenTopLeft">
        <span class="nameTagFullNameTen">Lucy3 Robertson</span><br/>
        <span class="nameTagPositionTen">Senior Developer</span><br/>
        <span class="company">Walmart</span><br/>
        <span class="location">Bentonville, AR</span>
    </div>
    <div class="nameTagTenTopRight">
        <span class="nameTagFullNameTen">Benjamin3 Reyes</span><br/>
        <span class="nameTagPositionTen">Quality Control Lead</span><br/>
        <span class="company">Quality Is Us!</span><br/>
        <span class="location">Austin, TX</span>
    </div>
</div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Ada3 Lovelace</span><br/>
            <span class="nameTagPositionTen">Mathematician</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="location">Denver, CO</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Bill3 Gates</span><br/>
            <span class="nameTagPositionTen">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="location">Redmond, WA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Corrinne3 Yu</span><br/>
            <span class="nameTagPositionTen">Game Programmer</span><br/>
            <span class="company">Naughty Dog</span><br/>
            <span class="location">Santa Monica, CA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Donald3 Knuth</span><br/>
            <span class="nameTagPositionTen">Professor</span><br/>
            <span class="company">Stanford University</span><br/>
            <span class="location">Standford, CA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Audrey3 Tang</span><br/>
            <span class="nameTagPositionTen">Software Programmer</span><br/>
            <span class="company">Pugs Project</span><br/>
            <span class="location">San Jose, CA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Jill4 Jackson</span><br/>
            <span class="nameTagPositionTen">Web Developer</span><br/>
            <span class="company">Regis University</span><br/>
            <span class="location">Denver, CO</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenBottomLeft">
            <span class="nameTagFullNameTen">John4 Smith</span><br/>
            <span class="nameTagPositionTen">IT Manager</span><br/>
            <span class="company">Really Big Company</span><br/>
            <span class="location">Denver, CO</span>
        </div>
        <div class="nameTagTenBottomRight">
            <span class="nameTagFullNameTen">Lucy4 Robertson</span><br/>
            <span class="nameTagPositionTen">Senior Developer</span><br/>
            <span class="company">Walmart</span><br/>
            <span class="location">Bentonville, AR</span>
        </div>
    </div>
</main>






    <meta charset="utf-8"/>
    <meta content="Template, Assignment 4, CS336" name="keywords"/>
    <meta content="Displays ten name tags per pge" name="description"/>
    <meta content="Bradley Hartlove" name="author"/>
    <meta content="index, follow" name="robots"/>

   <link href="{{url_for('static', filename='css/nametags10.css')}}" type="text/css" rel="stylesheet"/>

<main>
<div class="horizontalRowTen">
    <div class="nameTagTenTopLeft">
        <span class="nameTagFullNameTen">Benjamin4 Reyes</span><br/>
        <span class="nameTagPositionTen">Quality Control Lead</span><br/>
        <span class="company">Quality Is Us!</span><br/>
        <span class="location">Austin, TX</span>
    </div>
    <div class="nameTagTenTopRight">
        <span class="nameTagFullNameTen">Ada4 Lovelace</span><br/>
        <span class="nameTagPositionTen">Mathematician</span><br/>
        <span class="company">Regis University</span><br/>
        <span class="location">Denver, CO</span>
    </div>
</div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Bill4 Gates</span><br/>
            <span class="nameTagPositionTen">Computer Programmer</span><br/>
            <span class="company">Microsoft</span><br/>
            <span class="location">Redmond, WA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Corrinne4 Yu</span><br/>
            <span class="nameTagPositionTen">Game Programmer</span><br/>
            <span class="company">Naughty Dog</span><br/>
            <span class="location">Santa Monica, CA</span>
        </div>
    </div>

    <div class="horizontalRowTen">
        <div class="nameTagTenLeft">
            <span class="nameTagFullNameTen">Donald4 Knuth</span><br/>
            <span class="nameTagPositionTen">Professor</span><br/>
            <span class="company">Stanford University</span><br/>
            <span class="location">Standford, CA</span>
        </div>
        <div class="nameTagTenRight">
            <span class="nameTagFullNameTen">Audrey4 Tang</span><br/>
            <span class="nameTagPositionTen">Software Programmer</span><br/>
            <span class="company">Pugs Project</span><br/>
            <span class="location">San Jose, CA</span>
        </div>
    </div>




</main>


</body></html><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Displays ten name tags per page --><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Displays ten name tags per page --><!---   Name: Bradley Hartlove
        Assignment: CS336 Assignment #4
        Date Created: March 18, 2021
        Description: Displays ten name tags per page -->