{% extends 'base.html' %}
{% block content %}
<!-- The horizontal class contains a table that is formatted to contain the workshop schedule -->
    <div class=horizontalsection id="workshopSchedule">
        <h1>
            Conference Workshop Schedule:
        </h1>
        <table>
            <tr>
                <th>Day</th>
                <th>Session</th>
                <th>Workshop Title</th>
                <th>Speaker</th>
                <th>Room</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Day 1</td>
            </tr>
            <tr>
                <td></td>
                <td>Java Development</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>How to Use Arrays and Linked Lists</td>
                <td>John Hart</td>
                <td>Room 1A</td>
                <td>9:00 a.m. - noon</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Building Objects and Methods</td>
                <td>Jess Smith</td>
                <td>Room 1B</td>
                <td>9:00 a.m. - noon</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Implementing More Complex Methods</td>
                <td>Sam Stone</td>
                <td>Room 1C</td>
                <td>9:00 a.m. - noon</td>
            </tr>

            <tr>
                <td></td>
                <td>Python Development</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Using Dictionaries in Python</td>
                <td>John Hart</td>
                <td>Room 1A</td>
                <td>2:30 p.m. - 5:30 p.m.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>How to Web Scrape in Python</td>
                <td>Jess Smith</td>
                <td>Room 1B</td>
                <td>2:30 p.m. - 5:30 p.m.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Building Snake in Python</td>
                <td>Sam Stone</td>
                <td>Room 1C</td>
                <td>2:30 p.m. - 5:30 p.m.</td>
            </tr>

            <tr>
                <td>Day 2</td>
            </tr>
            <tr>
                <td></td>
                <td>Writing in Prolog</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>What are Facts and Atoms?</td>
                <td>John Hart</td>
                <td>Room 1A</td>
                <td>9:00 a.m. - noon</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>How to Use Rules</td>
                <td>Jess Smith</td>
                <td>Room 1B</td>
                <td>9:00 a.m. - noon</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Built-in List Functions</td>
                <td>Sam Stone</td>
                <td>Room 1C</td>
                <td>9:00 a.m. - noon</td>
            </tr>

        </table>
    </div>
{% endblock %}